<div class="row">
    <div class="col s12">
        <div class="headline-title-div">
            <h2>{{title}}</h2>
            <h3>{{date}}</h3>
        </div>
        <div class="headline-details-div">
            <p>Source: {{source}}, {{category}}</p>
            <p>Full Article Link:</p> <a href="{{url}}">{{url}}</a>
        </div>
        <div class="headline-comments-header">
            <h4>Comments: {{comments.length}}</h4>
        </div>
    </div>
</div>